@import url('https://fonts.googleapis.com/css?family=Eczar|Work Sans');

$color_red: #ff0000;

// Schriftgrößen
// $fontsize_title: 5rem;
// $fontsize_text: 1.6em;
// $fontsize_small: 1rem;


$fontsize_title: 7vh;
$fontsize_text: 3vh;
$fontsize_small: 2vh;

$fontsize_title_vw: 5vw;
$fontsize_text_vw: 2vw;
$fontsize_small_vw: 1.6vw;

$fontsize_title_max: calc(36px + 2vw);
$fontsize_text_max: calc(12px + .6vw);
$fontsize_small_max: calc(8px + .5vw);


// Zeilenabstand Titeltext
// $lh: 5.2rem;
$lh: 9vh;
$lh_vw: 6vw;
$lh_max: calc(36px + 2vw);


html, body {
	background-color: #000;
	margin: 0px;
}


video.fullscreen { 
	position: fixed;
	opacity: 0.2;
	top: 50%;
	left: 50%;
	min-width: 100vw;
	min-height: 100vh;
	width: auto;
	height: auto;
	z-index: 1;
	transform: translate(-50%, -50%);
}

/*
video.fullscreen {
	width: 100%;
	height: 100%;
	position: fixed;
	opacity: 0.2;
	object-position: 50% 50%;
	object-fit: cover;
}
*/

div.content {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 2;
//	border: 1px solid green;
}
div.text {
	position: absolute;
	margin-top: 15vh;
	width: calc(100% - 4vw);
	padding: 0 2vw 0 2vw;
	text-align: center;
	font-family: 'Work Sans', sans-serif;
	color: #FFF;
	font-size: $fontsize_text;
	@media screen and (orientation: landscape) {
		font-size: $fontsize_text_vw;
	}
	@media screen and (min-width: 1024px) {
		font-size: $fontsize_text_max;
	}
//	border: 1px solid red;
}
.title {
	font-family: 'Eczar', serif;
	font-size: $fontsize_title;
	line-height: $lh;
	@media screen and (orientation: landscape) {
		font-size: $fontsize_title_vw;
		line-height: $lh_vw;
	}
	@media screen and (min-width: 1024px) {
		font-size: $fontsize_title_max;
		line-height: $lh_max;
	}
//	border: 1px solid green;
}
.red {
	color: $color_red;
}
.old_link {
	position: absolute;
	top: 10px;
	right: 10px;
}
.old_link a {
	color: white;
	border-bottom: 1px solid #444;
	text-decoration: none;
	font-family: 'Work Sans', sans-serif;
	font-size: $fontsize_small;
	@media screen and (orientation: landscape) {
		font-size: $fontsize_small_vw;
	}
	@media screen and (min-width: 1024px) {
		font-size: $fontsize_small_max;
	}
}
.logos {
	width: 100%;
	text-align: center;
	margin-top: 60px;
//	border: 1px solid yellow;
}