//	Konfiguration und Variablen

// Metadaten
$_metadata: (
  theme-name:               "HEMA OEM2018"
, theme-uri:                "https://gitlab.com/hubertJ/oem-theme"
, theme-author:             "Hubert Jaitner"
, theme-author-uri:         "http://www.indes.at/fechtlehrer/graz/jaitner/"
, theme-description:        "HEMA OEM2018"
, theme-version:            "1.0.1"
, theme-license:            "GPLv3"
, theme-license-uri:        "http://www.gnu.org/licenses/gpl.txt"
, theme-tags:               INDES
, theme-text-domain:        "oem-theme"
, theme-text-domain-path:   ""
// , theme-template:			"twentyseventeen"
, gitlab-theme-uri:			""
, gitlab-branch:			"master"
);

@import url('https://fonts.googleapis.com/css?family=Eczar|Work+Sans:300');


$color_red: #ff0000;

// Schriftgrößen
// $fontsize_title: 5rem;
// $fontsize_text: 1.6em;
// $fontsize_small: 1rem;


$font_text: 'Work Sans', sans-serif;
$font_title: 'Eczar', serif;


$fontsize_title: 7vh;
// $fontsize_text: 3vh;
$fontsize_text: 1rem;
$fontsize_small: 2vh;
$fontsize_menu: calc( 0.9rem + 0.4vh );
// $fontsize_menu: calc( 6px + 1vw );


$fontsize_title_vw: 5vw;
$fontsize_text_vw: 2vw;
$fontsize_small_vw: 1.6vw;

$fontsize_title_max: calc(36px + 2vw);
$fontsize_text_max: calc(12px + .6vw);
$fontsize_small_max: calc(8px + .5vw);

$fontsize_arrowdown: calc( 16px + 2vh );
$arrowdown_position: calc( 50vw - ( #{$fontsize_arrowdown}/2 ));
// $arrowdown_position: 50vw;

// Zeilenabstand Titeltext
// $lh: 5.2rem;
$lh: 9vh;
$lh_vw: 6vw;
$lh_max: calc(36px + 2vw);

$break_min: 550px;
$break_low: 1024px;
$break_mid: 1400px;
$break_high: 1921px;    // TESTEN !!!

$vertical_break: 600px;

$fore_img_maxwidth: calc(20vw - 60px);

$scrollbar_width_desktop: 17px;
$scrollbar_width_mobile: 0.1px;
$nav_height: calc( 20px + 1.8vh);

// $t1: calc(100vw - #{$scrollbar_width});
// $t2: calc(99vw - #{$scrollbar_width});
// $t3: calc(#{$t1} - #{$t2});
// $nav_bg: linear-gradient(to right, rgba(black,0.95) 0vw, black #{$t3}, black calc(99vw - #{$scrollbar_width}), rgba(black,0.8) calc(100vw - #{$scrollbar_width}), rgba(black,0) calc(100vw - #{$scrollbar_width}));
// $oem_border: linear-gradient(to right, rgba(white,0) 1%, rgba($color_red,0.6) 6%, rgba($color_red,0.6) 33%, rgba(white,0.6) 33%, rgba(white,0.6) 66%, rgba($color_red,0.6) 66%, rgba($color_red,0.6) 94%, rgba(white,0) calc(100% - 20px)) 3;