// _footer.scss

footer {
	display: block;
	position: absolute;
	z-index: 999999;

	position: relative;
	height: 100vh;
	transform-style: preserve-3d;
	transform: translateZ(0);

	height: 50vh;
	width: 100%;
	// background: #000;
	// background: linear-gradient(to right, rgba(black,0.6) 0%, black 2%, black 97.8%, rgba(black,0.6) 98.4%, rgba(black,0) 99%);
	@include media-below($break_low) {
		@include navbg($scrollbar_width_mobile);
	}
	@include media-above($break_low) {
		@include navbg($scrollbar_width_desktop);
	}
	// border-top: 1px solid $color_red;
	color: #FFF;
	text-align: center;
	padding-top: 2vh;
	font-family: $font_text;
	font-size: 1rem;
	/*
	&:after {
		content: '';
		position: absolute;
		width: 100%;
		margin: 0;
		padding: 0;
		top: 0;
		left: 0;
		border-top: 3px solid;
		// border-image: linear-gradient(to right, rgba(0,0,0,0) 1px, $color_red 10%, $color_red 33%, white 33%, white 66%, $color_red 66%, $color_red 90%, rgba(0,0,0,0) 100%) 3;
		border-image: $oem_border;
		opacity: 0.5;
	}
	*/
}