/*	general.scss */

html {
	// overflow-y: scroll;
}
html, body {
	width: 100%;
	margin: 0px !important;
	font-family: $font_text;
	background: #000;
	// background: #FFF;
}

body {
	transform: translateZ(0);
}

//	Polylang Language Switcher
.lang-item {
	display: inline;
	list-style: none;
}

a {
	color: rgba($color_red, 0.75);
	transition: color 0.3s ease-in-out;
	&:hover {
		color: $color_red;
		transition: color 0.3s ease-in-out;
	}
}

hr {
	color: rgba(0,0,0,0);
	border-bottom: 1px solid;
	@include oemborder($scrollbar_width_mobile);
	opacity: 0.3;
}

img.withborder {
	opacity: 0.5;
	border: 1px solid #C0C0C0;
	padding: 2px;
	transition: opacity 0.3s ease-in-out;
	&:hover {
		opacity: 1;
		transition: opacity 0.3s ease-in-out;
	}
}

iframe {
	opacity: 0.6;
	transition: opacity 0.3s ease-in-out;
	max-width: 100%;
	&:hover {
		opacity: 1;
		transition: opacity 0.3s ease-in-out;
	}
}

h3 {
	font-family: $font_title;
}