// Master config function
@function config($map, $key) {
	@return map-get($map, $key);
}

//	Funktion zum Auslesen des Metadata Arrays
@function metadata($request) {
	@return config($_metadata, $request);
}


// Master media query mixin; only for use with screens, of course; should work with raw integers or pixel values; adapted from Kipple: https://github.com/synapticism/kipple
@mixin media($min-query: null, $max-query: null) {
	@if $min-query == null and $max-query == null {
		@warn "Mixin k-media() received two null values; no output.";
		@content; // Pass content anyway, but it won't be wrapped in a media query
	}
	@else if $max-query == null {
		@media screen and (min-width: $min-query+0px) { @content; }
	}
	@else if $min-query == null {
		@media screen and (max-width: $max-query+0px) { @content; }
	}
	@else {
		@media screen and (min-width: $min-query+0px) and (max-width: $max-query+0px) { @content; }
	}
}
@mixin media-above($min-query) {
	@include media($min-query, null) { @content; }
}
@mixin media-below($max-query) {
	@include media(null, $max-query - 1) { @content; }
}
@mixin media-between($min-query: null, $max-query: null) {
	@if $min-query == null or $max-query == null {
		@warn "Mixin media-between() received a null value."
	}
	@include media($min-query, $max-query - 1) { @content; }
}


@mixin navbg($scrollbar_width: null) {
	$t1: calc(100vw - #{$scrollbar_width});
	$t2: calc(99vw - #{$scrollbar_width});
	$t3: calc(#{$t1} - #{$t2});
	background: linear-gradient(to right, rgba(black,0.95) 0vw, black #{$t3}, black calc(99vw - #{$scrollbar_width}), rgba(black,0.8) calc(100vw - #{$scrollbar_width}), rgba(black,0) calc(100vw - #{$scrollbar_width}));
}
@mixin oemborder($scrollbar_width: null) {
	@if $scrollbar_width > 1 {
		border-image: linear-gradient(to right, rgba(white,0) 1%, rgba($color_red,0.6) 6%, rgba($color_red,0.6) 33%, rgba(white,0.6) 33%, rgba(white,0.6) 66%, rgba($color_red,0.6) 66%, rgba($color_red,0.6) 94%, rgba(white,0) calc(100% - 20px)) 3;
	}
	@else {
		border-image: linear-gradient(to right, rgba(white,0) 1%, rgba($color_red,0.6) 6%, rgba($color_red,0.6) 33%, rgba(white,0.6) 33%, rgba(white,0.6) 66%, rgba($color_red,0.6) 66%, rgba($color_red,0.6) 94%, rgba(white,0) 99%) 3; 
	}
}
