@include media-below($break_low) {
	header {
		&#desktop {
			display: none;
		}
		&#mobile {
			display: block;
			position: fixed;
			width: 100vw;
			top: 0;
			z-index: 999999;
		}
	}
}
@include media-above($break_low) {
	header {
		&#mobile {
			display: none;
		}
		&#desktop {
			display: block;
			position: relative;
			z-index: 999999;
			// top: 90vh;
			// margin-top: 50vh;
			@supports(position:sticky) {
				position: sticky;
				top: 0;
			}
		}
	}
}
nav {
	// display: none;
	display: block;
	position: absolute;
	// position: sticky;
	// top: 0;
	// z-index: 999999;
	width: 100%;
	height: $nav_height;
	text-align: center;
	color: #FFF;
	font-size: $fontsize_menu;
	font-family: $font_text;
	// background: linear-gradient(rgba(0,0,0,0.4) 20%, rgba(0,0,0,0) 90%);
	// background: linear-gradient(black, rgba(0,0,0,0.8));
	@include media-below($break_low) {
		@include navbg($scrollbar_width_mobile);
	}
	@include media-above($break_low) {
		@include navbg($scrollbar_width_desktop);
	}

	// background: #FFF;


	// border-bottom: 1px solid rgba($color_red,0.6);
	
	// border-bottom: 6px solid;
	// border-image: linear-gradient(to bottom, red 33%, white 33%, red 33%) 6;

	// border-bottom: 3px solid;
	// border-image: linear-gradient(to right, rgba(red,0) 2%, rgba($color_red,0.5) 10%, rgba($color_red,0.5) 33%, rgba(white,0.5) 33%, rgba(white,0.5) 66%, rgba($color_red,0.5) 66%, rgba($color_red,0.5) 90%, rgba(white,0) 98%) 3;
	// box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
	padding: 0;
	margin: 0;
	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		width: 94vw;
		height: $nav_height;
		margin: 0;
		padding: 0;
		left: 3vw;
		top: 3px;
		border-radius: 20%;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1);
	}
	&:after {
		content: '';
		position: absolute;
		width: 100%;
		// height: $nav_height;
		left: 0;
		// top: 0;
		pointer-events: none;
		border-bottom: 3px solid;
		@include media-below($break_low) {
			@include oemborder($scrollbar_width_mobile);
		}
		@include media-above($break_low) {
			@include oemborder($scrollbar_width_desktop);
		}

		// border-image: $oem_border;
	
		// height: calc( 16px + 2vh);
		// border-bottom: 3px solid;
		// border-image: linear-gradient(to right, rgba(0,0,0,0) 1px, $color_red 10%, $color_red 33%, white 33%, white 66%, $color_red 66%, $color_red 90%, rgba(0,0,0,0) 100%) 3;
		// box-shadow: 0px 10px 20px 0px rgba(0,0,0,1);
		// opacity: 0.5;
	}
	ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		padding: 0;
		margin: 0;
		height: $nav_height;	// für die vertikale Zentrierung
		li {
			flex: 0 1 auto;
			list-style: none;
			line-height: $nav_height;	// vertikal zentrieren
			a {
				text-decoration: none;
				color: #FFF;
				&:active {
					color: $color_red;
				}
				&:hover {
					color: $color_red;
				}
			}
			&:not(:last-child):after {
				content: "|";
				// color: $color_red;
				color: #FFF;
				opacity: 0.6;
				margin: 0vw .4vw 0vw .4vw;
			}
			&:first-child:after {
				content: ":";
				color: #FFF;
				opacity: 0.6;
				margin: 0vw .4vw 0vw .1vw;
			}
		}
	}
	.show-menu {
		 font-family: $font_text;
		 text-decoration: none;
		 color: #fff;
		 // background: black;
		 text-align: center;
		 // padding: 5px 0;
		 display: none;
	}
	input[type=checkbox]{
		 display: none;
	}
	@include media-below($break_low) {
		nav {
//			transition: visibility 0s linear 0.4s, opacity 0.4s linear;
//	        background: rgba(0,0,0,0.9);
		}
		.show-menu {
			  display:block;
			  // padding-top: calc( 12px + 0.2vh );
			  // padding-top: calc(calc(#{$nav_height} / 2) - 5px);
			  height: calc(#{$nav_height} - calc(calc(#{$nav_height} / 2) - 6px));
			  div {
				width: 20px;
				height: 2px;
				background: white;
				margin-bottom: 4px;
				left: 50%;
				margin-left: auto;
				margin-right: auto;
				&:first-of-type {
					margin-top: calc(calc(#{$nav_height} / 2) - 6px);
				}
			}
			&:hover {
				div {
					background: $color_red;
					cursor: pointer;
				}
			}
		}
		input[type=checkbox]:checked ~ label>div{
			opacity: 0;
			&:first-child {
				opacity: 1;
				transform: rotate(-45deg) translate(-8px, 10px);
				transform-origin: 0% 0%;
				// background: red;
			}
			&:last-child {
				opacity: 1;
				transform: rotate(45deg) translate(-1px, 3px);
				transform-origin: 100% 0%;
				// background: yellow;
			}
		}
		input[type=checkbox]:checked ~ ul{
			 visibility: visible;
			 opacity: 1;
			 transition-delay:0s;
			 height: auto;
			 // width: calc(100% - #{$scrollbar_width});
		}
		ul {
			position: static;
			visibility: hidden;
			opacity: 0;
			height: 0;
			// transition: visibility 0s linear 0.4s, opacity 0.4s linear;
			// background: $nav_bg;
			// background: linear-gradient(to right, rgba(black,0.6) 0%, black 2%, black 97.8%, rgba(black,0.6) 98.4%, rgba(black,0) 99%);
			@include media-below($break_low) {
				@include navbg($scrollbar_width_mobile);
			}
			@include media-above($break_low) {
				@include navbg($scrollbar_width_desktop);
			}
			li {
				font-family: $font_text;
				margin-bottom: 1em;
				width: 100%;
				// background: rgba(0,0,0,0.4);
				&:after {
					content: "" !important;
				}
			}
		}
	}
}

#nav_hamburger {
	display: block;
	position: absolute;
	z-index: 99999;
	top: 0;
	width: 100%;
	height: $nav_height;
	padding-top: calc(calc(#{$nav_height} / 2) - 6px);
	text-align: center;
	color: #FFF;
	@include media-below($break_low) {
		// padding-top: calc( 12px + 0.2vh );
	}
	div {
		width: calc( 10px + 1vw );
		height: calc( 2px + 0.1vh );
		background: white;
		left: 50%;
		margin-bottom: calc( 3px + 0.2vh );
		margin-left: auto;
		margin-right: auto;
		@include media-below($break_low) {
			width: 20px;
			height: 2px;
			background: white;
			margin-bottom: 4px;
			left: 50%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	&:hover {
		div {
			background: red;
		}
	}
}