/* Ninja Enhancements */

.nf-before-form-content {
	padding-bottom: 30px;
}
.ninja-forms-field {
	background: rgba(255,255,255,0.2);
	color: #FFF;
	border: 1px solid #000;
	padding: 4px;
	font-family: $font_text;
	font-size: $fontsize_text;
}
.nf-help {
	display: none !important;
}