//  CSS für die Struktur und das Parallax Scrolling

.parallax {
	perspective: 300px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	font-size: 2rem;
	scroll-behavior: smooth;
}
.parallax__layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.parallax__layer--base {
	transform: translateZ(0);
	// transform: translateZ(-150px) scale(1.51);
	z-index: 4;
	// text-align:center;
}
.parallax__layer--back {
	transform: translateZ(-300px) scale(2.1);
	z-index: 3;
	text-align: center;
}
.parallax__layer--fore {
	transform: translateZ(50px) translateX(80px) scale(.8);
	z-index: 1;
	// pointer-events: none;
	@include media-between($break_low, $break_high) {
		width: calc(20vw - 20px);
		// left: calc(20vw - 254px);
	}
	@include media-above($break_high) {
		width: calc(30vw - 20px);
	}
	@include media-below($break_low) {
		transform: translateZ(0);
	}
	.img_container {
		position: relative;
		@include media-above($break_low) {
			text-align: right;
		}
		@supports(position:sticky) {
			position: sticky;
			top: 50px;
		}
		@include media-below($break_low) {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			// justify-content: center;
			// text-align: center;
			height: 120px;
			padding-top: calc(#{$nav_height} + 20px);
			position: relative;
			top: 0;
			@media screen and (orientation: landscape) {
				padding-top: 50px;
			}
		}
	}
	a {
		@include media-below($break_low) {
			width: 50vw;
			text-align: left;
			&:first-of-type {
				text-align: right;
			}
		}		
		img {
			max-width: 260px;
			margin-bottom: 4vh;
			margin-left: calc(20vw - 300px);
			@include media-below($break_low) {
				max-height: 80px;
				max-width: 40vw;
				margin: 0;
			}
			@include media-between($break_low, $break_mid) {
				max-width: $fore_img_maxwidth;
				margin-left: calc(20vw - calc(#{$fore_img_maxwidth} + 40px));
			}
			@include media-above($break_high) {
				margin-left: calc(30vw - 280px);
			}
		}
		img:first-of-type {
			margin-top: 6vh;
			@include media-below($break_low) {
				margin: 0;
			}
			@include media-above($break_high) {
				margin-top: 9vh;    
			}
		}
	}
}

.parallax__group {
	position: relative;
	height: 100vh;
	transform-style: preserve-3d;
	// transform: translate3d(700px, 0, -800px) rotateY(30deg);
	&:first-of-type {
		height: calc(100vh - #{$nav_height});
		box-shadow: inset 0px -20px 50px 0px rgba(0,0,0,0.6);  
		@include media-below($break_low) {
			height: 100vh;
		}
	}
}

.parallax div.parallax__group:first-of-type {
	z-index: 4;
	.parallax__layer--back {
		background: #000;
	}
}


.parallax div.parallax__group:nth-of-type(even) {
	z-index: 10;
	background: #000 url("assets/dark-wall2.jpg");
	// background: #1f1f1f;
	box-shadow: 0px 40px 80px 0px rgba(0,0,0,0.60), inset 0px 40px 80px -13px rgba(0,0,0,0.60);
	// box-shadow: 0px 40px 80px 0px rgba(0,0,0,0.60);
	.parallax__layer--base {
		color: #FFF;
		.layer--content {
			width: 60vw;
			transform: translate(20vw);
			font-size: $fontsize_text;
			// text-align: justify;
			margin-top: calc( 32px + 5vh );
			@include media-below($break_low) {
				width: 100%;
				transform: none;
			}
			@include media-above($break_high) {
				width: 40vw;
				transform: translate(30vw);
			}
		}
		.overlay {
			@include media-below($break_low) {
				margin-top: calc(32px + 120px + 2vh);
			}
		}
		@include media-below($break_low) {
			padding: 10px;
		}
	}
}

.parallax div.parallax__group:nth-of-type(2n+3) {
	z-index: 3;
	.parallax__layer--back {
		// background:url("assets/background.jpg");
		background-size: cover !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		box-shadow: inset 0px 30px 70px 0px rgba(0,0,0,1), inset 0px -50px 70px 0px rgba(0,0,0,1);
		// margin-top: 20vh;
	}
}



// CSS for Single Page
.single {
	background: #000 url("assets/dark-wall2.jpg");
	.single_content {
		&:first-child {
			margin: 0 !important;
			padding-top: 60px;
		}
		width: 60vw;
		transform: translate(20vw);
		font-size: $fontsize_text;
		color: #FFF;
		@include media-below($break_low) {
			width: 100%;
			transform: none;
		}
		@include media-above($break_high) {
			width: 40vw;
			transform: translate(30vw);
		}
	}
	.single_image {
		width: 100%;
		height: 100vh;
		transform: none;
		opacity: 0.4;
		box-shadow: inset 0px 30px 70px 0px rgba(0,0,0,1), inset 0px -50px 70px 0px rgba(0,0,0,1);
		background-size: cover !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
	}
}
