video.fullscreen { 
	position: fixed;
	opacity: 0.2;
	top: 50%;
	left: 50%;
	min-width: 100vw;
	min-height: 100vh;
	width: auto;
	height: auto;
	z-index: 1;
	transform: translate(-50%, -50%);
	@include media-below($break_low) {
		display: none;
	}
}

div.lead {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 10;
	// border: 10px solid green;
}
div.text {
	position: absolute;
	margin-top: 45vh;
	@media (max-height: 800px) {
		margin-top: 35vh;
	}
	@media (max-height: 620px) {
		margin-top: 10vh;
	}
	@include media-below($break_mid) {
		margin-top: 35vh;
		@media (max-height: 620px) {
			margin-top: 10vh;
		}
	}
	@include media-below($break_low) {
		margin-top: 35vh;
		@media screen and (orientation: landscape) {
			margin-top: 10vh;
		}
	}
	@include media-below($break_min) {
		margin-top: 10vh;
		p {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	// width: calc(100% - 4vw);
	width: 100vw;
	// padding: 0 2vw 0 2vw;
	text-align: center;
	font-family: $font_text;
	color: #FFF;
	font-size: $fontsize_text;
	@media screen and (orientation: landscape) {
		font-size: $fontsize_text_vw;
	}
	@media screen and (min-width: 1024px) {
		font-size: $fontsize_text_max;
	}
	ul {
		padding-left: 0px;
	}
//  border: 1px solid red;
}
.title {
	font-family: $font_title;
	font-size: $fontsize_title;
	line-height: $lh;
	@media screen and (orientation: landscape) {
		font-size: $fontsize_title_vw;
		line-height: $lh_vw;
	}
	@media screen and (min-width: 1024px) {
		font-size: $fontsize_title_max;
		line-height: $lh_max;
	}
//  border: 1px solid green;
}
.red {
	color: $color_red;
}
.old_link {
	position: absolute;
	top: 10px;
	right: 10px;
}
.old_link a {
	color: white;
	border-bottom: 1px solid #444;
	text-decoration: none;
	font-family: $font_text;
	font-size: $fontsize_small;
	@media screen and (orientation: landscape) {
		font-size: $fontsize_small_vw;
	}
	@media screen and (min-width: 1024px) {
		font-size: $fontsize_small_max;
	}
}
.logos {
	width: 100%;
	text-align: center;
	margin-top: 60px;
//  border: 1px solid yellow;
}
.next_slide {
	// border: 1px solid white;
	position: absolute;
	bottom: 10px;
	left: $arrowdown_position;
	a {
		font-size: $fontsize_arrowdown;
		color: #FFF;
		:hover {
			color: $color_red;
		}
	}
}